html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f2937;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
  text-align: center;
}

.links ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  gap: 24px;
  font-size: 18px;
  color: #e5e7eb;
}

.links li {
  text-align: center;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  padding: 60px 0;
  gap: 32px;
}

.hero .container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  flex-basis: 610px;
  padding: 25px 0;
  flex-basis: 400px;
}

.hero .container2 {
  flex-basis: 650px;
  padding: 110px;
  text-align: center;
  background-color: grey;
  color: #e5e7eb;
}

.hero .text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero .subtext {
  font-size: 18px;
  color: #e5e7eb;
}

.hero button {
  font-size: 18px;
  background-color: #3882f6;
  color: #f9faf8;
  padding: 8px 24px;
  border-radius: 10px 10px;
  border-style: none;
}

.info .text {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  padding: 50px 0;
}

.info .container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.info .container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  gap: 8px;
}

.info .subtext {
  text-align: center;
  font-size: 18px;
}

.info .box {
  width: 150px;
  height: 150px;
  border: 4px solid #3882f6;
  border-radius: 10px 10px;
}

.quote {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  background-color: #e5e7eb;
}

.quote .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 750px;
  padding: 16px;
  gap: 16px;
}

.quote .text {
  color: #1f2937;
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
}

.quote .subtext {
  color: #1f2937;
  font-size: 18px;
  font-weight: 900;
  text-align: right;
  padding-right: 50px;
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 10px;
}

.action .container {
  flex-basis: 980px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
  background-color: #3882f6;
  border-radius: 10px 10px;
  gap: 16px;
}

.action .container1 {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.action .text,
.action .subtext {
  font-size: 18px;
  color: #f9faf8;
}

.action .text {
  font-size: 24px;
  font-weight: 700;
}

.action button {
  font-size: 18px;
  background-color: #3882f6;
  color: #f9faf8;
  padding: 8px 24px;
  border-radius: 10px 10px;
  border: 2px solid white;
}
