html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Arial", "Helvetica", sans-serif;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: gold;
}

.logo {
  font-size: 24px;
  color: #008080;
  text-shadow: 1px 1px 2px rgb(181, 31, 56);
  font-weight: bold;
  text-align: center;
}

.links ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  gap: 24px;
  font-size: 18px;
  color: #008080;
  text-shadow: 1px 1px 2px rgb(181, 31, 56);
}

.links li {
  text-align: center;
  color: #008080;
}

.header .logo a,
.links a {
  text-decoration: none;
  color: #008080;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: gold;
  padding: 60px 0;
  gap: 32px;
}

.hero .container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  flex-basis: 610px;
  padding: 25px 0;
  flex-basis: 400px;
}

.hero .container2 {
  flex-basis: 650px;
  text-align: center;
  overflow: hidden;
}

.hero .container2 img {
  height: auto;
  max-width: 100%;
}

.hero .text {
  font-size: 48px;
  font-weight: 900;
  color: #008080;
  text-shadow: 1px 1px 2px rgb(57, 34, 34), 0 0 1em rgb(211, 211, 227), 0 0 0.2em rgb(187, 187, 220);
}

.hero .subtext {
  font-size: 18px;
  color: #008080;
}

.hero button {
  font-size: 18px;
  background-color: #008080;
  color: gold;
  padding: 8px 24px;
  border-radius: 50% 20% / 10% 40%;
  box-shadow: 1px 1px 2px rgb(181, 31, 56);;
  border-style: none;
  cursor: pointer;
}

.info {
  background-color: #008080;
}

.info .text {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  padding: 50px 0;
  color: gold;
  text-shadow: 1px 1px 2px rgb(29, 1, 1), 0 0 1em rgb(147, 147, 186), 0 0 0.2em rgb(219, 160, 181);
}

.info .container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 84px;
  padding-bottom: 50px;
  overflow: hidden;
}

.info .container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  gap: 8px;
}

.info .subtext {
  text-align: center;
  font-size: 18px;
  color: gold;
}

.info .box {
  width: 200px;
  height: 200px;
}

.info .container2 img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  background-color: gold;
}

.quote .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 750px;
  padding: 16px;
  gap: 16px;
}

.quote .text {
  color: #008080;
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
}

.quote .subtext {
  color: #008080;
  font-size: 18px;
  font-weight: 900;
  text-align: right;
  padding-right: 50px;
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 10px;
  background-color: #008080;
}

.action .container {
  flex-basis: 980px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
  background-color: gold;
  border-radius: 10px 10px;
  gap: 16px;
}

.action .container1 {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.action .text,
.action .subtext {
  font-size: 18px;
  color: #008080;
}

.action .text {
  font-size: 24px;
  font-weight: 700;
}

.action button {
  font-size: 18px;
  background-color: gold;
  color: #008080;
  padding: 8px 24px;
  border-radius: 50% 20% / 10% 40%;
  border: 2px solid #008080;
  box-shadow: 1px 1px 2px rgb(181, 31, 56);
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gold;
  padding: 30px 0;
  color: #008080;
  font-size: 18px;
}
